@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body::-webkit-scrollbar {
  height: 0;
}

/* Hide vertical scrollbar */
body::-webkit-scrollbar {
  width: 0;
}
.css-6hp17o-MuiList-root-MuiMenu-list{
  padding-top: 0!important;
  padding-bottom: 0!important;
  border-radius: 20px!important;
}
.css-at26bj-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
  border-radius: 20px!important;

}